<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<dict>
		<key>getVisitor</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/visitor</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>申请访客账号</string>
		</dict>
		<key>send_code</key>
		<dict>
			<key>path</key>
			<string>/api/v2/verificationCode</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array>
				<string>email</string>
			</array>
			<key>description</key>
			<string>请求发送验证码</string>
		</dict>
		<key>register</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>email</string>
				<string>password</string>
				<string>verificationCode</string>
			</array>
			<key>description</key>
			<string>用户注册</string>
		</dict>
		<key>login</key>
		<dict>
			<key>path</key>
			<string>/api/v2/session</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>email</string>
				<string>password</string>
			</array>
			<key>description</key>
			<string>用户登录</string>
		</dict>
		<key>resetUsername</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/name</string>
			<key>method</key>
			<string>PATCH</string>
			<key>parameter</key>
			<array>
				<string>name</string>
			</array>
			<key>description</key>
			<string>用户重置用户名</string>
		</dict>
		<key>resetPassword</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/password</string>
			<key>method</key>
			<string>PATCH</string>
			<key>parameter</key>
			<array>
				<string>email</string>
				<string>password</string>
				<string>verificationCode</string>
			</array>
			<key>description</key>
			<string>用户重置密码</string>
		</dict>
		<key>resetAvatar</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/avatar</string>
			<key>method</key>
			<string>PATCH</string>
			<key>parameter</key>
			<array>
				<string>avatar</string>
			</array>
			<key>description</key>
			<string>用户修改头像</string>
		</dict>
		<key>info</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>获取用户信息</string>
		</dict>
		<key>sign</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/sign</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>用户进行签到</string>
		</dict>
		<key>charge</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/point</string>
			<key>method</key>
			<string>PATCH</string>
			<key>parameter</key>
			<array>
				<string>level</string>
			</array>
			<key>description</key>
			<string>用户充值</string>
		</dict>
		<key>feedback</key>
		<dict>
			<key>path</key>
			<string>/api/v2/user/feedback</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>feedback</string>
				<string>email</string>
			</array>
			<key>description</key>
			<string>用户意见反馈</string>
		</dict>
	</dict>
	<key>account</key>
	<dict>
		<key>accounts</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>请求获取公众号列表</string>
		</dict>
		<key>articles</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array>
				<string>biz</string>
			</array>
			<key>description</key>
			<string>请求获取某个公众号的文章列表</string>
		</dict>
		<key>articleDetail</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles/detail</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>articles</string>
			</array>
			<key>description</key>
			<string>用pdfid获取文章的详细信息</string>
		</dict>
		<key>download</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles/downloading</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>point</string>
			</array>
			<key>description</key>
			<string>下载公众号文章</string>
		</dict>
	</dict>
	<key>admin</key>
	<dict>
		<key>deleteAccount</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts</string>
			<key>method</key>
			<string>DELETE</string>
			<key>parameter</key>
			<array>
				<string>biz</string>
			</array>
			<key>description</key>
			<string>管理员删除公众号</string>
		</dict>
		<key>deleteArticle</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles</string>
			<key>method</key>
			<string>DELETE</string>
			<key>parameter</key>
			<array>
				<string>articles</string>
			</array>
			<key>description</key>
			<string>管理员删除文章</string>
		</dict>
		<key>addAccount</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>biz</string>
				<string>name</string>
				<string>cover</string>
			</array>
			<key>description</key>
			<string>管理员添加公众号</string>
		</dict>
		<key>addArticle</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>biz</string>
				<string>url</string>
				<string>publishTime</string>
			</array>
			<key>description</key>
			<string>管理员添加公众号文章</string>
		</dict>
		<key>addArticleList</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles/uploading</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>管理员获取待上传文章列表</string>
		</dict>
		<key>addArticleDone</key>
		<dict>
			<key>path</key>
			<string>/api/v2/accounts/articles/uploading</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>pdfID</string>
				<string>createTime</string>
			</array>
			<key>description</key>
			<string>管理员上传文章文件后通知后端</string>
		</dict>
	</dict>
</dict>
</plist>
